{:paths ["src"
         "resources" ; goldly-ext, css
         "target/node_modules" ; css from npm modules
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  org.pinkgorilla/options {:mvn/version "0.0.12"}
  }
 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check"]}

  ; ci

  :webly {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.5.689"}
                       org.pinkgorilla/ui-repl {:mvn/version "0.1.105"}}
          :exec-fn webly.app.app/webly-build
          :exec-args {:config [{:build {:disabled-extensions #{}}}]
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile2"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}

   ; for demo see README.md or go to "demo" folder and run aliases there.

;
  }}
