{:paths ["src"
         "resources" ; snippets
         "target/node_modules"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  org.pinkgorilla/pinkie {:mvn/version "0.3.11"} ; box
  }
 :aliases
 {;https://github.com/applied-science/deps-library
  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check"]}

  :garamond
  {:main-opts ["-m" "garamond.main"]
   :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}

  ; demo ui

  :goldly
  {:extra-deps {org.pinkgorilla/goldly {:mvn/version "0.4.486"
                                        :exclusions [org.pinkgorilla/ui-input]} ; this project
                org.pinkgorilla/ui-repl {:mvn/version "0.0.36"}  ; reagent atoms in cljs
                                        }
   :exec-fn goldly.app/goldly-server-run!
   :exec-args {:profile "watch2" ; watch2 - no devtools
               :config {:goldly {:lazy false ; true
                                 :autoload-clj-ns [;goldly.devtools
                                                  ]
                                 :autoload-cljs-dir [;"goldly/lib"
                                                     ;"goldly/devtools"
                                                     "demo/lib"
                                                     "demo/page"]
                                 :watch-cljs-dir ["src/demo/page"]
                                 :routes {:app {"" :welcome
                                                "input" :input
                                                "description-list" :description-list
                                                "layout" :layout
                                                "grid-layout" :grid-layout
                                                ;"devtools" :devtools
                                                ;"devtools/viewer" :viewer
                                                ;"devtools/scratchpad" :scratchpad
                                                ;"devtools/theme" :theme
                                                ;"devtools/environment" :environment
                                                ;"devtools/pages" :pages
                                                ;"devtools/help" :devtools
                                                "goldly/reload" :goldly/reload-cljs}
                                                
                                                }}}}}



;
  }}
