{:name "ui-input"
 :clj-require []
 :theme {:available  {:ionslider {true ["ion-rangeslider/css/ion.rangeSlider.min.css"]}
                      :tailsui {true ["tails-ui/dist/index.css"]}
                      :gridlayout {true ["react-grid-layout/css/styles.css"
                                         "react-resizable/css/styles.css"]}}
         :current {:ionslider true
                   :tailsui false
                   :gridlayout true}}
 :cljs-namespace [;pinkie.default-setup
                  pinkgorilla.debounce
                  ; input
                  pinkgorilla.input.button
                  pinkgorilla.input.progressbar
                  pinkgorilla.input.bound

                  ;layout
                  pinkgorilla.layout.tab
                  pinkgorilla.layout.gridlayout
                  pinkgorilla.layout.sidebar
                  ;pinkgorilla.layout.tailsui
                  pinkgorilla.layout.popover
                  pinkgorilla.layout.description-list
                  pinkgorilla.layout.panel]
 :cljs-bindings {'debounce pinkgorilla.debounce/debounce}
 :cljs-ns-bindings {'input {'button pinkgorilla.input.button/button
                            'progressbar pinkgorilla.input.progressbar/progressbar
                            ;input bound
                            'textbox pinkgorilla.input.bound/text-a
                            'select pinkgorilla.input.bound/select-a
                            'checkbox pinkgorilla.input.bound/checkbox-a
                            'slider  pinkgorilla.input.bound/slider-ion-a}
                    'layout {'gridlayout pinkgorilla.layout.gridlayout/gridlayout
                             'sidebar  pinkgorilla.layout.sidebar/sidebar
                             'tab pinkgorilla.layout.tab/tab
                             ;'tab pinkgorilla.layout.tailsui/tab
                             ;'tabs pinkgorilla.layout.tailsui/tabs
                             'tooltip pinkgorilla.layout.popover/tooltip
                             'popover pinkgorilla.layout.popover/popover
                             'description-list pinkgorilla.layout.description-list/description-list
                             'panel pinkgorilla.layout.panel/panel}}

 :pinkie {;input
          :p/button pinkgorilla.input.button/button
          :p/progressbar pinkgorilla.input.progressbar/progressbar
          ;input bound
          :p/textbox pinkgorilla.input.bound/text-a ; text is defined in pinkie.
          :p/checkbox pinkgorilla.input.bound/checkbox-a
          :p/select pinkgorilla.input.bound/select-a
          :p/slider pinkgorilla.input.bound/slider-ion-a
          ;layout
          :p/gridlayout pinkgorilla.layout.gridlayout/gridlayout
          :p/sidebar pinkgorilla.layout.sidebar/sidebar
          :p/tab pinkgorilla.layout.tab/tab
          ;:p/tab pinkgorilla.layout.tailsui/tab
          ;:p/tabs pinkgorilla.layout.tailsui/tabs
          :p/tooltip pinkgorilla.layout.popover/tooltip
          :p/popover pinkgorilla.layout.popover/popover
          :p/description-list pinkgorilla.layout.description-list/description-list
          :p/panel pinkgorilla.layout.panel/panel}
 :lazy true}