{:name "ui-input"
 :clj-require []
 :theme {:available  {:ionslider {true ["ion-rangeslider/css/ion.rangeSlider.min.css"]}
                      :tailsui {true ["tails-ui/dist/index.css"]}
                      :gridlayout {true ["react-grid-layout/css/styles.css"
                                         "react-resizable/css/styles.css"]}}
         :current {:ionslider true
                   :tailsui false
                   :gridlayout true}}
 :cljs-namespace [;pinkie.default-setup
                  ; inut
                  pinkgorilla.input.button
                  pinkgorilla.input.progressbar
                  pinkgorilla.input.bound

                  ;layout
                  pinkgorilla.layout.tab
                  pinkgorilla.layout.gridlayout
                  pinkgorilla.layout.sidebar
                  ;pinkgorilla.layout.tailsui
                  pinkgorilla.layout.popover
                  pinkgorilla.layout.description-list
                  pinkgorilla.layout.panel]
 :cljs-bindings {}
 :cljs-ns-bindings {'input {'button pinkgorilla.input.button/button
                            'progressbar pinkgorilla.input.progressbar/progressbar
                            ;input bound
                            'text pinkgorilla.input.bound/input-a
                            'select pinkgorilla.input.bound/select-a
                            'checkbox pinkgorilla.input.bound/checkbox-a
                            'slider  pinkgorilla.input.bound/slider-ion-a}
                    'layout {'gridlayout pinkgorilla.layout.gridlayout/gridlayout
                             'sidebar  pinkgorilla.layout.sidebar/sidebar
                             'tab pinkgorilla.layout.tab/tab
                             ;'tab pinkgorilla.layout.tailsui/tab
                             ;'tabs pinkgorilla.layout.tailsui/tabs
                             'tooltip pinkgorilla.layout.popover/tooltip
                             'popover pinkgorilla.layout.popover/popover
                             'description-list pinkgorilla.layout.description-list/description-list
                             'panel pinkgorilla.layout.panel/panel}}

 :pinkie {;input
          :p/button pinkgorilla.input.button/button
          :p/progressbar pinkgorilla.input.progressbar/progressbar
          ;input bound
          :p/input-a pinkgorilla.input.bound/input-a
          :p/checkbox pinkgorilla.input.bound/checkbox-a
          :p/select pinkgorilla.input.bound/select-a
          :p/slider pinkgorilla.input.bound/slider-ion-a
          ;layout
          :p/gridlayout pinkgorilla.layout.gridlayout/gridlayout
          :p/sidebar pinkgorilla.layout.sidebar/sidebar
          :p/tab pinkgorilla.layout.tab/tab
          ;:p/tab pinkgorilla.layout.tailsui/tab
          ;:p/tabs pinkgorilla.layout.tailsui/tabs
          :p/tooltip pinkgorilla.layout.popover/tooltip
          :p/popover pinkgorilla.layout.popover/popover
          :p/description-list pinkgorilla.layout.description-list/description-list
          :p/panel pinkgorilla.layout.panel/panel}
 :lazy true
 :snippets [;control
            {:type :goldly
             :category :input
             :id :text
             :filename "snippets/input/text.edn"}
            {:type :goldly
             :category :input
             :id :checkbox
             :filename "snippets/input/checkbox.edn"}
            {:type :pinkie
             :category :input
             :id :button
             :filename "snippets/input/button.edn"}
            {:type :goldly
             :category :input
             :id :slider-ion
             :filename "snippets/input/slider_ion.edn"}
            {:type :goldly
             :category :input
             :id :select
             :filename "snippets/input/select.edn"}
            {:type :pinkie
             :category :input
             :id :progress
             :filename "snippets/input/progress.edn"}
            ;; layout
            #_{:type :pinkie
             :category :layout
             :id :tab1
             :filename "snippets/layout/tab1.edn"}
            {:type :pinkie
               :category :layout
               :id :tab2
               :filename "snippets/layout/tab2.edn"}
            {:type :pinkie
             :category :layout
             :id :gridlayout
             :filename "snippets/layout/gridlayout.edn"}
            {:type :goldly-clj
             :category :layout
             :id :dialog
             :filename "snippets/layout/dialog.clj"}
            {:type :pinkie
             :category :layout
             :id :popover
             :filename "snippets/layout/popover.edn"}
            {:type :pinkie
             :category :layout
             :id :description-box
             :filename "snippets/layout/desc.edn"}]}