{:name "ui-container"
 ; build
 :lazy true
 :cljs-namespace [container
                  ;pinkgorilla.layout.tailsui
                  ]
 :cljs-ns-bindings {'container {'sidebar  container/sidebar
                                'tab container/tab
                                ;'tab pinkgorilla.layout.tailsui/tab
                                ;'tabs pinkgorilla.layout.tailsui/tabs
                                'description-list container/description-list
                                'panel container/panel
                                'with-sidebar-menu container/with-sidebar-menu}}
 ; theme
 :theme {:available  {;:tailsui {true ["tails-ui/dist/index.css"]}
                      :sidebartree {true ["sidebartree.css"
                                          "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
                                          ]}}
         :current {;:tailsui false
                   :sidebartree true}}}