{:name "ui-debounce"
 ; build
 :lazy false ; debouncer does not support lazy.
 :cljs-namespace [pinkgorilla.debounce]
 :cljs-bindings {'debounce pinkgorilla.debounce/debounce}
 :cljs-ns-bindings {'ui.debounce {'debounce pinkgorilla.debounce/debounce}}}
                  