{:name "ui-debounce"
 ; build
 :lazy false ; debouncer does not support lazy.
 :cljs-namespace [pinkgorilla.debounce]
 :cljs-ns-bindings {'pinkgorilla.debounce {'debounce pinkgorilla.debounce/debounce}}}
                  
