{:name "ui-gridlayout"
 ; build
 :lazy true
 :cljs-namespace [ui.gridlayout]
 :cljs-ns-bindings {'ui.gridlayout {'gridlayout ui.gridlayout/gridlayout}}
 ; theme
 :theme {:available  {:gridlayout {true ["react-grid-layout/css/styles.css"
                                         "react-resizable/css/styles.css"]}}
         :current {:gridlayout true}}}
