{:name "ui-ionslider"
 ; build
 :lazy true
 :cljs-namespace [pinkgorilla.input.ionslider-bound]
 :cljs-ns-bindings {'input2 {'slider pinkgorilla.input.ionslider-bound/slider-ion-a}}
 ; theme
 :theme {:available  {:ionslider {true ["ion-rangeslider/css/ion.rangeSlider.min.css"]}}
         :current {:ionslider true}}}