{:name "ui-input"
 ; build
 :lazy true
 :cljs-namespace [input]
 :cljs-ns-bindings {'input {'button input/button
                            'progressbar input/progressbar
                            ;input bound
                            'textbox input/text-a
                            'select input/select-a
                            'checkbox input/checkbox-a}}}
