{:name "ui-popover"
 ; build
 :lazy true
 :cljs-namespace [ui.popover]
 :cljs-ns-bindings {'ui.popover {'popover ui.popover/popover
                                 'tooltip ui.popover/tooltip}}
 ; theme
 :theme {:available  {;:tailsui {true ["tails-ui/dist/index.css"]}
                      }
         :current {;:tailsui false
                   }}}
