{:name "ui-popover"
 ; build
 :lazy true
 :cljs-namespace [pinkgorilla.layout.popover]
 :cljs-ns-bindings {'ui.popover {'popover pinkgorilla.layout.popover/popover
                                 'tooltip pinkgorilla.layout.popover/tooltip}}
 ; theme
 :theme {:available  {;:tailsui {true ["tails-ui/dist/index.css"]}
                      }
         :current {;:tailsui false
                   }}}
