{:name "demo-app"
 :lazy true
 :depends-on #{:ui-container :ui-input :ui-ionslider :ui-popover
               :ui-rnd :ui-gridlayout :ui-site}
 :cljs-namespace [demo.page.welcome
                  demo.page.input
                  demo.page.desclist
                  demo.page.layout
                  demo.page.gridlayout
                  demo.page.spaces
                  demo.page.sidebartree
                  demo.page.tab]
 :cljs-ns-bindings {'demo.page.welcome {'welcome-page  demo.page.welcome/welcome-page}
                    'demo.page.input {'welcome-page  demo.page.input/input-page}
                    'demo.page.desclist {'desclist-page  demo.page.desclist/desclist-page}
                    'demo.page.layout {'layout-page  demo.page.layout/layout-page}
                    'demo.page.gridlayout {'grid-layout-page  demo.page.gridlayout/grid-layout-page}
                    'demo.page.spaces {'spaces-page  demo.page.spaces/spaces-page}
                    'demo.page.sidebartree {'sidebar-page  demo.page.sidebartree/sidebar-page}
                    'demo.page.tab {'tab-page  demo.page.tab/tab-page}}
; runtime
 :cljs-routes {"" demo.page.welcome/welcome-page
               "input" demo.page.input/input-page
               "description-list" demo.page.desclist/desclist-page
               "layout" demo.page.layout/layout-page
               "grid-layout" demo.page.gridlayout/grid-layout-page
               "spaces/" {"main" demo.page.spaces/spaces-page
                          "layout-viewport-lrt"  demo.page.spaces/spaces-layout-lrt-viewport-page
                          "layout-viewport-lrm"  demo.page.spaces/spaces-layout-lrm-viewport-page
                          "layout-fixed-lrt"  demo.page.spaces/spaces-layout-lrt-fixed-page
                          "layout-fixed-lrm"  demo.page.spaces/spaces-layout-lrm-fixed-page}
               "sidebartree" demo.page.sidebartree/sidebar-page
               "tab" demo.page.tab/tab-page}}