{:name "demo-app"
 :cljs-routes {"" demo.page.welcome/welcome-page
               "input" demo.page.input/input-page
               "description-list" demo.page.desclist/desclist-page
               "layout" demo.page.layout/layout-page
               "grid-layout" demo.page.gridlayout/grid-layout-page
               "spaces/" {"main" demo.page.spaces/spaces-page
                          "layout-viewport-lrt"  demo.page.spaces/spaces-layout-lrt-viewport-page
                          "layout-viewport-lrm"  demo.page.spaces/spaces-layout-lrm-viewport-page
                          "layout-fixed-lrt"  demo.page.spaces/spaces-layout-lrt-fixed-page
                          "layout-fixed-lrm"  demo.page.spaces/spaces-layout-lrm-fixed-page}}
 

}