{:paths ["src"
         "resources" ; goldly-ext, css
         "target/node_modules" ; css from npm modules
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  ; webly
  org.pinkgorilla/webly {:mvn/version "0.5.689"}
  ; extensions
  org.pinkgorilla/ui-input {:local/root "../" :deps/manifest :deps}
  org.pinkgorilla/ui-repl {:mvn/version "0.1.105"} ; reagent
  org.pinkgorilla/ui-site {:mvn/version "0.0.31"}; ipsum
  org.pinkgorilla/ui-dialog-keybindings {:mvn/version "0.1.10"} ; notification
  }

 :aliases
 {:webly {:exec-fn webly.app.app/webly-build
          :exec-args {:config [{:build {:disabled-extensions #{}}}]
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile2"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}
  :run {:exec-fn modular.system/start!
        :exec-args {:profile "jetty"
                    :services "demo-services.edn"}}}}


 
