{:paths ["src"
         "resources" ; goldly-ext, css
         "target/node_modules" ; css from npm modules
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  ; webly
  org.pinkgorilla/webly {:mvn/version "0.7.702"} ; build tool
  ; extensions
  org.pinkgorilla/ui-input {:local/root "../" :deps/manifest :deps}
  org.pinkgorilla/ui-repl {:mvn/version "0.1.109"} ; reagent
  org.pinkgorilla/ui-site {:mvn/version "0.0.31"}; ipsum
  org.pinkgorilla/ui-dialog-keybindings {:mvn/version "0.1.10"} ; notification
  }

 :aliases
 {;; WATCH
  :npm-install
  {:exec-fn webly.app.app/webly-build
   :config {}
   :exec-args {:profile "npm-install"}}
  :demo
  {:exec-fn modular.system/start!
   :exec-args {;:profile "jetty"
               :profile "watch"
               :config {}
               :services "demo-services.edn"}}

           ;; BUILD / SERVE

  :compile {:exec-fn webly.app.app/webly-build
            :config {}
            :exec-args {:profile "compile"}}

  :release-adv {:exec-fn webly.app.app/webly-build
                :config {}
                :exec-args {:profile "release-adv"}}

  :jetty
  {:exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :config {}
               :services "demo-services.edn"}}

  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}
  :run {:exec-fn modular.system/start!
        :exec-args {:profile "jetty"
                    :services "demo-services.edn"}}}}


 
